@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  
}

button, .btn-primary, .btn-secondary {
  cursor: pointer;
  transition: .3s;
}

button:hover, .btn-primary:hover, .btn-secondary:hover {
  opacity: .8;
}

a:not(.btn-primary) {
  color: inherit;
  text-decoration: none;
  transition: .3s;
}

a:hover:not(.btn-primary) {
  color: #F1B663;
}

.bg-azul {
  background-color: #6366F1;
}

.bg-azul-escuro {
  background-color: #0F172A;
}

.color-azul {
  color: #6366F1;
}

.color-marinho {
  color: #0EA5E9;
}

.color-azul-black {
  color: #1F2937;
}

.bg-laranja {
  background-color: #F1B663;
}

.bg-verde {
  background-color: #10B981;
}

.gradient-azul-roxo {
  background: linear-gradient(45deg, #0EA5E9, #8B5CF6);
}

.color-laranja {
  color: #F1B663;
}

.color-azul-escuro {
  color: #1F2937;
}

.bg-cinza {
  background-color: #F3F4F6;
}

.color-cinza {
  color: #6B7280;
}

.color-branco {
  color: #E2E8F0;
}

.bg-home {
  background-image: url("../../public/home.png");
}

.bg-transparente {
  background-color: rgba(255, 255, 255, .4);
}

.bg-joelson {
  background-image: url(../../public/joelson.jpg);
}

.btn-primary {
  /* background-color: #F1B663; */
  /* padding: 1.125rem 2rem; */
  border-radius: .75rem;
  font-weight: 600;
}

.btn-secondary {
  border-radius: .75rem;
  background-color: transparent;
  /* padding: 1.125rem 1.25rem; */
  display: flex;
  align-items: center;
  gap: .5rem;
  border: 2px solid;
  /* color: #F1B663; */
}

.tech-icon {
  aspect-ratio: 1/1;
  border-radius: .75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
}

.tech-icon:hover {
  scale: 1.03;
}

.tech-icon svg {
  font-size: 1.5rem;
}

.hover-scale {
  transition: .3s ease-in-out;
  cursor: pointer;
}

.hover-scale:hover {
  scale: 1.03;
}

.transition-flip {
  transition: transform .5s;
}

.clamp-description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 9999px;
}